#SubmitForm div{margin-top:10px;}
#SubmitForm .textLength {width: 467px;}
#SubmitForm .shorLength {width: 175px;}

#SubmitLeafForm div{margin-top:10px;}
#SubmitLeafForm .textLength1 {width: 499px;}
#SubmitLeafForm .shorLength {width: 175px;}