<html>
<head>
    <title>微服务网关</title>
    @await Html.PartialAsync("Meta")
    @await Html.PartialAsync("link")
    @await Html.PartialAsync("script")
</head>
<body class="skin-blue" style="     background: #f9f9f9;">
    @await Html.PartialAsync("top")
    <div class="wrapper row-offcanvas row-offcanvas-left">
        @await Html.PartialAsync("left")
        <aside>
            @RenderBody()
        </aside>
    </div>
</body>
</html>